node_modules
backend/.idea/
.idea/
.venv/
backend/yunel_notebook/.ipynb_checkpoints/
backend/configs/db.yaml
backend/rodion-jypiter/
backend/yunel_notebook/
backend/pycache/
pycache/
*.py[cod]
*$py.class
*.cover
*.py,cover
*.pyc
.ipynb_checkpoints
/backend/app/tests/integr/.pytest_cache/
/backend/venv/
/backend/dev/
/backend/config/settings.yaml